@font-face {
         font-family: 'GothamBold';
         src: url('fonts/gotham-bold.eot');
         src: url('fonts/gotham-bold.eot') format('embedded-opentype'),
         url('fonts/gotham-bold.woff') format('woff'),
         url('fonts/gotham-bold.ttf') format('truetype'),
         url('fonts/gotham-bold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gotham-light.eot');
    src: url('fonts/gotham-light.eot') format('embedded-opentype'),
         url('fonts/gotham-light.woff') format('woff'),
         url('fonts/gotham-light.ttf') format('truetype'),
         url('fonts/gotham-light.svg#GothamLight') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('fonts/gotham-medium.eot');
    src: url('fonts/gotham-medium.eot') format('embedded-opentype'),
         url('fonts/gotham-medium.woff') format('woff'),
         url('fonts/gotham-medium.ttf') format('truetype'),
         url('fonts/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamBook';
    src: url('fonts/gotham-book.eot');
    src: url('fonts/gotham-book.eot') format('embedded-opentype'),
         url('fonts/gotham-book.woff') format('woff'),
         url('fonts/gotham-book.ttf') format('truetype'),
         url('fonts/gotham-book.svg#GothamBook') format('svg');
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    margin-top:0px;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: 'GothamBold';
}

#blocker {
    position: absolute;
    display:none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    overflow:hidden;
}

#leftPanel {
    cursor:pointer;
    width:30%;
    padding:25px;
    color:white;
    height:100%;
    background-image:url(textures/leftPattern.png);
    float:left;
    display:inline-block;
    display:table;
}

#leftWrapper {
    display:table-cell;
    height:auto;
    vertical-align:middle;
}

#intro p {
    font-size:1.3em;
}

#intro img {
    width:350px;
}

#instructions h2 {
    font-size:1.2em;
    font-family:"GothamMedium";
}

#instructions p {
    display:inline;
    top: -20px;
    left: 10px;
    position: relative;
    font-family:"GothamLight";
    font-size:.9em;
}

#instructions img {
    width:50px;
}

#instructions h2:first-child {
    color:#fd70fc;
}
#instructions h2 {
    color:#fbe232;
}
#credits p {
    font-size:.7em;
    font-family:helvetica,arial,sans-serif;
}
#credits a {
    color:white;
}

#rightPanel {
    display: table;
    width: auto;
    overflow-y: scroll;
    height: 100%;
    color:white;
    padding:25px;
}

#rightPanel h1 {
    margin-top:0;
}

#rightPanel h2 {
    margin-bottom:0;
    font-size:.9em;
}

#rightPanel p  {
    font-family:"GothamBook";
}

#rightPanel img {
    width:20%;
}

#controls {
    width: 157px;
    height: 104px;
    position:fixed;
    z-index:99999;
    bottom:25px;
    right:25px;
}

.key {
    height:40px;
    width:40px;
    float: left;
    margin: 5px;
    line-height: 32px;
    text-align: center;
    -webkit-transition: all .5s ease;                  
    -moz-transition: all .5s ease;                 
    -o-transition: all .5s ease;   
    -ms-transition: all .5s ease;          
    transition: all .5s ease;
    opacity:.2;
}

.key-info {
    font-size: 8px;
    margin-left: -15px;
    font-family: arial;
    margin-top: -15px;
    position: absolute;
}

#a {
    clear:left;
}